#bestPriceBanner {
  background-color: var(--main-blue);
  margin-bottom: 80px;
}
#bestPriceBanner .containerCustom {
  height: 196px;
  padding-left: 49px;
  padding-right: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bestPriceBanner .containerCustom .itemImg {
  width: 211px;
  height: 131px;
}
#bestPriceBanner .containerCustom .itemImg2 {
  width: 665px;
  height: 70px;
}
#bestPriceBanner .containerCustom .contactNow {
  background-color: white;
  width: 370px;
  height: 155px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bestPriceBanner .containerCustom .contactNow p:first-child {
  color: #24ade0;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 124.688%; /* 39.9px */
}
#bestPriceBanner .containerCustom .contactNow p:last-child {
  color: #24ade0;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
}

@media (max-width: 1439.98px) {
  #bestPriceBanner .containerCustom .itemImg {
    width: 13%;
  }
  #bestPriceBanner .containerCustom .itemImg2 {
    width: 53%;
  }
  #bestPriceBanner .containerCustom .contactNow {
    width: 30%;
    height: 140px;
  }
  #bestPriceBanner .containerCustom .contactNow p:first-child {
    font-size: 30px;
  }
  #bestPriceBanner .containerCustom .contactNow p:last-child {
    font-size: 40px;
  }
}
@media (max-width: 1199.98px) {
  #bestPriceBanner .containerCustom .contactNow p:first-child {
    font-size: 25px;
  }
  #bestPriceBanner .containerCustom .contactNow p:last-child {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  #bestPriceBanner .containerCustom .contactNow p:last-child {
    font-size: 25px;
  }
  #bestPriceBanner .containerCustom .contactNow p:first-child {
    font-size: 20px;
  }
  #bestPriceBanner .containerCustom {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767.98px) {
  #bestPriceBanner {
    margin-bottom: 40px;
  }
  #bestPriceBanner .containerCustom {
    height: 142px;
  }
  #bestPriceBanner .containerCustom {
    padding-left: 15px;
    padding-right: 15px;
  }
  #bestPriceBanner .containerCustom .contactNow p:last-child {
    font-size: 20px;
  }
  #bestPriceBanner .containerCustom .contactNow {
    height: 100px;
  }
}
@media (max-width: 575.98px) {
  #bestPriceBanner .containerCustom {
    height: 90px;
  }
  #bestPriceBanner .containerCustom .contactNow p:last-child,
  #bestPriceBanner .containerCustom .contactNow p:first-child {
    font-size: 11px;
  }
  #bestPriceBanner .containerCustom .contactNow {
    height: 60px;
  }
  #bestPriceBanner .containerCustom .itemImg {
    display: none;
  }
  #bestPriceBanner .containerCustom .itemImg2 {
    width: 64%;
  }
  #process .absoluteImg {
    display: none;
  }
  #process .containerCustom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #bestPriceBanner .containerCustom .contactNow {
    height: 55px;
    width: 33%;
  }
}/*# sourceMappingURL=bestPriceBanner.css.map */