#chooseSGN {
  margin-bottom: 80px;
}
#chooseSGN h1 {
  margin-bottom: 20px;
}
#chooseSGN h1 br {
  display: none;
}
#chooseSGN .subTitle {
  margin-bottom: 60px;
}
#chooseSGN .listReasons .row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 27.6px;
}
#chooseSGN .listReasons .itemReason {
  background: url("../images/background.jpg"), lightgray 50%/cover no-repeat;
}
#chooseSGN .listReasons .itemReason h3 {
  margin-bottom: 24.21px;
}
#chooseSGN .listReasons .itemReason p {
  margin-bottom: 43px;
  width: 470px;
  text-align: justify;
}
#chooseSGN .listReasons .itemReason .contact {
  display: flex;
  width: 270px;
  padding: 0px 1px 0px 2px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--main-blue);
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 225% */
}
#chooseSGN .listReasons .itemReason a:hover {
  color: white;
}
#chooseSGN .listReasons .reason:first-child, #chooseSGN .listReasons .reason:nth-child(2) {
  margin-bottom: 100px;
}

@media (max-width: 1439.98px) {
  #chooseSGN .listReasons .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 25px;
  }
}
@media (max-width: 1199.98px) {
  #chooseSGN h1 br {
    display: block;
  }
  #chooseSGN .listReasons .itemReason p {
    width: unset;
  }
  #chooseSGN .listReasons .itemImg:first-child {
    border-radius: 10px;
  }
  #chooseSGN .listReasons .itemReason .contact {
    font-size: 21px;
    width: 263px;
  }
}
@media (max-width: 991.98px) {
  #chooseSGN .listReasons .itemReason p {
    margin-bottom: 25px;
  }
  #chooseSGN .listReasons .itemReason .contact {
    width: 220px;
    line-height: 40px;
  }
  #chooseSGN .listReasons .row {
    --bs-gutter-x: 15px;
    --bs-gutter-y: 15px;
  }
}
@media (max-width: 767.98px) {
  #chooseSGN {
    margin-bottom: 40px;
  }
  #chooseSGN h1 {
    margin-bottom: 15px;
  }
  #chooseSGN .subTitle {
    margin-bottom: 30px;
  }
  #chooseSGN .listReasons .itemReason h3 {
    margin-bottom: 10px;
  }
  #chooseSGN .listReasons .reason:first-child,
  #chooseSGN .listReasons .reason:nth-child(2) {
    margin-bottom: 40px;
  }
  #chooseSGN .listReasons .itemReason .contact {
    width: 168px;
    font-size: 18px;
  }
}/*# sourceMappingURL=chooseSGN.css.map */