#customerFeedback {
  margin-bottom: 110px;
}
#customerFeedback .icon img {
  height: 45px;
  width: 50px;
}
#customerFeedback .icon:last-child {
  display: flex;
  align-items: flex-end;
}
#customerFeedback .feedback {
  padding: 0 30px;
}
#customerFeedback .feedback h1 {
  position: relative;
  margin-bottom: 80px;
}
#customerFeedback .feedback h1::after {
  content: "";
  width: 170px;
  height: 6px;
  background: #24ade0;
  position: absolute;
  bottom: -12px;
  left: 1px;
}
#customerFeedback .feedback .row {
  --bs-gutter-x: 77px;
}
#customerFeedback .feedback .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#customerFeedback .feedback .item .itemImg {
  margin-bottom: 40px;
}
#customerFeedback .feedback .item .text {
  margin-bottom: 30px;
}
#customerFeedback .feedback .item .text p {
  text-align: justify;
}

@media (max-width: 1199.98px) {
  #customerFeedback .icon img {
    width: 35px;
  }
  #customerFeedback .feedback h1 {
    margin-bottom: 40px;
  }
  #customerFeedback .feedback .row {
    --bs-gutter-x: 30px;
  }
}
@media (max-width: 767.98px) {
  #customerFeedback .feedback {
    padding: 0 10px;
  }
  #customerFeedback .feedback .row {
    --bs-gutter-x: 42px;
    --bs-gutter-y: 40px;
    justify-content: center;
  }
  #customerFeedback .feedback .item .itemImg {
    margin-bottom: 20px;
  }
  #customerFeedback .feedback .item .text {
    margin-bottom: 10px;
  }
  #customerFeedback {
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  #customerFeedback .feedback .row {
    --bs-gutter-y: 30px;
  }
}/*# sourceMappingURL=customerFeedback.css.map */