#customerTrust {
  position: relative;
  margin-bottom: 80px;
}
#customerTrust .background {
  height: 150px;
  background-color: var(--main-blue);
  width: 50%;
  position: absolute;
  z-index: -1;
}
#customerTrust h1 {
  width: 1071.807px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 0px 100px 100px 0px;
  background: var(--main-blue);
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
#customerTrust .customerTrustCarousel .item {
  padding: 0 33.63px;
}
#customerTrust .customerTrustCarousel .slick-dots {
  position: unset;
  padding-top: 37px;
}
#customerTrust .customerTrustCarousel .slick-dots li button:before {
  font-size: 13px;
  color: var(--main-blue);
}

@media (max-width: 1439.98px) {
  #customerTrust h1 {
    width: 760px;
  }
}
@media (max-width: 1199.98px) {
  #customerTrust .customerTrustCarousel .item {
    padding: 0 25px;
  }
}
@media (max-width: 991.98px) {
  #customerTrust h1 {
    width: 660px;
    height: 100px;
  }
  #customerTrust .background {
    height: 100px;
  }
  #customerTrust .customerTrustCarousel .item {
    padding: 0 16px;
  }
}
@media (max-width: 767.98px) {
  #customerTrust h1 {
    width: 534px;
    height: 78px;
    margin-bottom: 25px;
  }
  #customerTrust .background {
    height: 78px;
  }
  #customerTrust .customerTrustCarousel .slick-dots {
    padding-top: 25px;
  }
  #customerTrust {
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  #customerTrust h1 {
    width: 306px;
  }
  #customerTrust .customerTrustCarousel .item {
    padding: 0 9px;
  }
  #customerTrust .background {
    width: 100%;
  }
}/*# sourceMappingURL=customerTrust.css.map */