#equipment {
  margin-bottom: 80px;
}
#equipment h1 {
  margin-bottom: 40px;
}
#equipment h1 br {
  display: none;
}
#equipment .listImg .row {
  --bs-gutter-x: 0;
  justify-content: space-between;
}
#equipment .listImg .itemImg:first-child {
  max-width: 737px;
}
#equipment .listImg .itemImg:last-child {
  min-width: 400px;
}

@media (max-width: 1439.98px) {
  #equipment .listImg .row {
    --bs-gutter-x: 20px;
  }
  #equipment .listImg .itemImg:first-child {
    max-width: unset;
  }
  #equipment .listImg .itemImg:last-child {
    min-width: unset;
  }
}
@media (max-width: 991.98px) {
  #equipment .listImg .row {
    --bs-gutter-x: 15px;
  }
  #equipment h1 br {
    display: block;
  }
  #equipment h1 {
    line-height: 130%;
  }
}
@media (max-width: 767.98px) {
  #equipment {
    margin-bottom: 40px;
  }
  #equipment h1 {
    margin-bottom: 25px;
  }
}
@media (max-width: 575.98px) {
  #equipment .listImg .row {
    --bs-gutter-x: 10px;
  }
}/*# sourceMappingURL=equipment.css.map */