#factory {
  margin-bottom: 80px;
}
#factory h1 {
  margin-bottom: 40px;
}
#factory h1 br {
  display: none;
}
#factory .listImg .row {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 40px;
}
#factory iframe {
  width: 100%;
  height: 51.7vw;
}

@media (max-width: 1439.98px) {
  #factory h1 br {
    display: block;
  }
  #factory .listImg .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
  }
}
@media (max-width: 991.98px) {
  #factory .listImg .row {
    --bs-gutter-x: 15px;
    --bs-gutter-y: 15px;
  }
}
@media (max-width: 767.98px) {
  #factory {
    margin-bottom: 40px;
  }
  #factory h1 {
    margin-bottom: 25px;
  }
}
@media (max-width: 575.98px) {
  #factory .listImg .row {
    --bs-gutter-x: 10px;
    --bs-gutter-y: 10px;
  }
}/*# sourceMappingURL=factory.css.map */