footer {
  background-image: url("../images/footerbg.jpg");
  background-repeat: no-repeat;
  padding-top: 84px;
  padding-bottom: 62px;
}
footer .item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
footer .item .itemIcon {
  margin-right: 16px;
  width: 50px;
  height: 50px;
}
footer .item h2 {
  color: white;
  font-weight: 400;
}
footer .itemLast {
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {
  footer .item {
    margin-bottom: 25px;
  }
  footer .itemLast {
    margin-bottom: 0;
  }
  footer .item svg {
    width: 40px;
    height: 40px;
  }
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  footer h2 {
    font-size: 17px;
  }
}
@media (max-width: 575.98px) {
  footer .itemLast {
    margin-bottom: 25px;
  }
  footer {
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=footer.css.map */