#formContact {
  margin-bottom: 80px;
}
#formContact .title {
  margin-bottom: 38px;
}
#formContact .title h1 {
  line-height: 163.688%; /* 58.928px */
}
#formContact .title h2 {
  font-weight: 400;
  line-height: 163.688%; /* 58.928px */
}
#formContact form input,
#formContact form textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #24ade0;
  background: #fff;
  padding: 30px 56px;
}
#formContact form .item {
  margin-bottom: 15px;
}
#formContact form .item p {
  margin-top: 3px;
  font-size: 15px;
  color: red;
}
#formContact form .item:last-child {
  margin-bottom: 21px;
}
#formContact form textarea {
  height: 248px;
}
#formContact form button {
  width: 270px;
  height: 80px;
  border-radius: 12px;
  background: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
#formContact form button h2 {
  color: white;
}
#formContact form #successSubmit {
  color: var(--main-blue);
  margin-top: 5px;
}
#formContact .row {
  --bs-gutter-x: 32px;
  width: 100%;
}

@media (max-width: 1199.98px) {
  #formContact form textarea {
    height: 203px;
  }
  #formContact form input,
  #formContact form textarea {
    padding: 13px;
  }
  #formContact .title {
    margin-bottom: 25px;
  }
}
@media (max-width: 991.98px) {
  #formContact .row {
    --bs-gutter-x: 20px;
  }
  #formContact form textarea {
    height: 145px;
  }
}
@media (max-width: 767.98px) {
  #formContact {
    margin-bottom: 40px;
  }
  #formContact .row {
    --bs-gutter-x: unset;
  }
  #formContact .row .col:last-child {
    display: none;
  }
  #formContact form button {
    width: 250px;
    height: 65px;
  }
  #formContact form textarea {
    margin-bottom: 8px;
  }
}
@media (max-width: 575.98px) {
  #formContact .title h2 {
    font-size: 14px;
  }
}/*# sourceMappingURL=formContact.css.map */