html {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.containerCustom {
  max-width: 1440px;
  margin: 0 auto;
}

.paddingCustom {
  padding-left: 135px;
  padding-right: 135px;
}

:root {
  --main-blue: #27aae2;
  --main-blue-2: #007297;
  --main-red: #ff2643;
  --main-gray: #d2d2d2;
  --form-text-gray: #898989;
  --main-yellow: #ffd00b;
}

.text-main-blue {
  color: var(--main-blue);
}

.radius-6 {
  border-radius: 6px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-12 {
  border-radius: 10px;
}

.radius-15 {
  border-radius: 15px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: unset;
  line-height: 130%;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: unset;
  line-height: 130%;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: unset;
  line-height: 130%;
}

p,
input,
textarea {
  font-size: 18px;
  margin-bottom: unset;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}

.breakPage .containerCustom {
  display: flex;
  justify-content: center;
}
.breakPage .containerCustom p {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  width: 230px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #24ade0;
  margin-bottom: 80px;
}

@media (max-width: 1439.98px) {
  .paddingCustom {
    padding-left: 80px;
    padding-right: 80px;
  }
  h3 {
    font-size: 25px;
  }
}
@media (max-width: 991.98px) {
  .paddingCustom {
    padding-left: 30px;
    padding-right: 30px;
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: unset;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: unset;
  }
}
@media (max-width: 767.98px) {
  .paddingCustom {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  p,
  input,
  textarea {
    font-size: 12px;
    margin-bottom: unset;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 14px;
  }
}/*# sourceMappingURL=globalCss.css.map */