#interestedProducts h1 {
  margin-bottom: 40px;
}
#interestedProducts .itemListProduct:first-child {
  margin-bottom: 60px;
}
#interestedProducts .itemListProduct:last-child {
  margin-bottom: 80px;
}
#interestedProducts .itemListProduct .subTitle {
  height: 50px;
  margin-bottom: 40px;
}
#interestedProducts .itemListProduct .subTitle h2 {
  line-height: 50px;
  width: 370px;
  border-radius: 0 0;
  background-color: var(--main-blue);
  text-align: center;
  border-radius: 0px 0px 100px 0px;
}
#interestedProducts .itemListProduct .listItem .row {
  --bs-gutter-x: 30px;
}
#interestedProducts .itemListProduct .listItem .item {
  padding: 19px 19px 15px 21px;
  border-radius: 10px;
  border: 2px solid #24ade0;
}
#interestedProducts .itemListProduct .listItem .item .itemImg {
  margin-bottom: 14px;
}
#interestedProducts .itemListProduct .listItem .item .itemName {
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
}

@media (max-width: 1439.98px) {
  #interestedProducts .itemListProduct .listItem .item .itemName {
    line-height: normal;
    height: 43.2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991.98px) {
  #interestedProducts h1 {
    margin-bottom: 25px;
  }
  #interestedProducts .itemListProduct .subTitle {
    margin-bottom: 30px;
    height: 40px;
  }
  #interestedProducts .itemListProduct .subTitle h2 {
    line-height: 40px;
    width: 295px;
  }
  #interestedProducts .itemListProduct .listItem .row {
    --bs-gutter-y: 30px;
  }
  #interestedProducts .itemListProduct:first-child {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  #interestedProducts .itemListProduct .subTitle h2 {
    width: 225px;
  }
  #interestedProducts .itemListProduct .listItem .row {
    --bs-gutter-y: 15px;
    --bs-gutter-x: 15px;
  }
  #interestedProducts .itemListProduct .listItem .item .itemName {
    font-size: 14px;
  }
  #interestedProducts .itemListProduct:last-child {
    margin-bottom: 40px;
  }
  .breakPage .containerCustom p {
    margin-bottom: 40px;
  }
}
@media (max-width: 575.98px) {
  #interestedProducts .itemListProduct .listItem .item {
    padding: 15px;
  }
  #interestedProducts .itemListProduct .listItem .item .itemName {
    font-size: 12px;
  }
  .breakPage .containerCustom p {
    font-size: 13px;
  }
}/*# sourceMappingURL=interestedProducts.css.map */