#partner {
  margin-bottom: 80px;
}
#partner .content {
  background-color: var(--main-blue);
  padding-top: 52px;
  padding-bottom: 68px;
  margin-bottom: 50px;
}
#partner h1 {
  margin-bottom: 8px;
}
#partner .icon {
  padding-bottom: 20px;
}
#partner .text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#partner .text p {
  width: 73%;
}
#partner .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
#partner .actions a {
  width: 298.095px;
  height: 98px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}
#partner .actions a:first-child {
  background-color: white;
  color: var(--main-blue);
  margin-right: 36.43px;
}
#partner .actions a:last-child {
  border: 1px solid #fff;
  color: white;
}
#partner .partnerImg .item {
  padding: 0 17px;
}

@media (max-width: 1199.98px) {
  #partner .partnerImg .item {
    padding: 0 10px;
  }
}
@media (max-width: 991.98px) {
  #partner .actions a {
    width: 250px;
    height: 80px;
  }
}
@media (max-width: 767.98px) {
  #partner {
    margin-bottom: 40px;
  }
  #partner .content {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  #partner .text {
    margin-bottom: 25px;
  }
  #partner .actions a:first-child {
    margin-right: 25px;
  }
  #partner .actions a {
    font-size: 20px;
    width: 221px;
    height: 69px;
  }
  #partner .text p {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  #partner .actions a {
    font-size: 16px;
    height: 54px;
  }
}/*# sourceMappingURL=partner.css.map */