#process {
  position: relative;
  background-color: var(--main-blue);
  margin-bottom: 80px;
}
#process .absoluteImg {
  position: absolute;
  top: 0;
  right: 0;
  width: 602.842px;
}
#process .containerCustom {
  padding-top: 76.66px;
  padding-bottom: 24px;
}
#process .containerCustom h2 {
  margin-bottom: 25px;
}
#process .containerCustom ul {
  list-style: none;
  padding: 0;
}
#process .containerCustom ul li {
  display: flex;
  align-items: center;
  margin-bottom: 19.97px;
}
#process .containerCustom ul li .icon {
  margin-right: 38.76px;
}
#process .containerCustom ul li .text p {
  font-weight: 700;
}
#process .containerCustom ul li .text p:first-child {
  color: var(--main-yellow);
}
#process .containerCustom ul li .text p:last-child {
  color: white;
}
#process .containerCustom .contactNow {
  border-radius: 15px;
  border: 1px solid #fff;
  width: 391.624px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 10.4px 10px 10.4px;
}
#process .containerCustom .contactNow a {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 100%;
}
#process .containerCustom .contactNow a p:first-child {
  color: #24ade0;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
#process .containerCustom .contactNow a p:last-child {
  color: #24ade0;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%; /* 60px */
}

@media (max-width: 1199.98px) {
  #process .absoluteImg {
    width: 400px;
  }
}
@media (max-width: 991.98px) {
  #process .absoluteImg {
    width: 300px;
  }
  #process .containerCustom .contactNow a p:last-child {
    font-size: 32px;
  }
  #process .containerCustom .contactNow {
    width: 320px;
  }
}
@media (max-width: 767.98px) {
  #process {
    margin-bottom: 40px;
  }
  #process .absoluteImg {
    width: 250px;
  }
  #process .containerCustom {
    padding-top: 40px;
  }
  #process .containerCustom .contactNow {
    width: 270px;
    height: 101px;
  }
  #process .containerCustom .contactNow a p:last-child {
    font-size: 27px;
  }
  #process .containerCustom ul li {
    font-size: 12px;
  }
}/*# sourceMappingURL=process.css.map */