#variety {
  margin-bottom: 80px;
}
#variety h1 {
  margin-bottom: 40px;
}

@media (max-width: 767.98px) {
  #variety {
    margin-bottom: 40px;
  }
  #variety h1 {
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=variety.css.map */