#customerFeedback {
  margin-bottom: 110px;
  .icon {
    img {
      height: 45px;
      width: 50px;
    }
    &:last-child {
      display: flex;
      align-items: flex-end;
    }
  }
  .feedback {
    padding: 0 30px;
    h1 {
      position: relative;
      margin-bottom: 80px;
      &::after {
        content: "";
        width: 170px;
        height: 6px;
        background: #24ade0;
        position: absolute;
        bottom: -12px;
        left: 1px;
      }
    }
    .row {
      --bs-gutter-x: 77px;
    }
    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .itemImg {
        margin-bottom: 40px;
      }
      .text {
        margin-bottom: 30px;
        p {
          text-align: justify;
        }
      }
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #customerFeedback .icon img {
    width: 35px;
  }
  #customerFeedback .feedback h1 {
    margin-bottom: 40px;
  }
  #customerFeedback .feedback .row {
    --bs-gutter-x: 30px;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #customerFeedback .feedback {
    padding: 0 10px;
  }
  #customerFeedback .feedback .row {
    --bs-gutter-x: 42px;
    --bs-gutter-y: 40px;
    justify-content: center;
  }
  #customerFeedback .feedback .item .itemImg {
    margin-bottom: 20px;
  }
  #customerFeedback .feedback .item .text {
    margin-bottom: 10px;
  }
  #customerFeedback {
    margin-bottom: 40px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #customerFeedback .feedback .row {
    --bs-gutter-y: 30px;
  }
}
