#customerTrust {
  position: relative;
  margin-bottom: 80px;
  .background {
    height: 150px;
    background-color: var(--main-blue);
    width: 50%;
    position: absolute;
    z-index: -1;
  }
  h1 {
    width: 1071.807px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 0px 100px 100px 0px;
    background: var(--main-blue);
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  .customerTrustCarousel {
    .item {
      padding: 0 33.63px;
    }
    .slick-dots {
      position: unset;
      padding-top: 37px;
    }
    .slick-dots li button:before {
      font-size: 13px;
      color: var(--main-blue);
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
  #customerTrust h1 {
    width: 760px;
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #customerTrust .customerTrustCarousel .item {
    padding: 0 25px;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #customerTrust h1 {
    width: 660px;
    height: 100px;
  }
  #customerTrust .background {
    height: 100px;
  }
  #customerTrust .customerTrustCarousel .item {
    padding: 0 16px;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #customerTrust h1 {
    width: 534px;
    height: 78px;
    margin-bottom: 25px;
  }
  #customerTrust .background {
    height: 78px;
  }
  #customerTrust .customerTrustCarousel .slick-dots {
    padding-top: 25px;
  }
  #customerTrust {
    margin-bottom: 40px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #customerTrust h1 {
    width: 100%;
    border-radius: unset;
  }
  #customerTrust .customerTrustCarousel .item {
    padding: 0 9px;
  }
  #customerTrust .background {
    width: 100%;
  }
}
