#equipment {
  margin-bottom: 80px;
  h1 {
    margin-bottom: 40px;
    br {
      display: none;
    }
  }
  .listImg {
    .row {
      --bs-gutter-x: 0;
      justify-content: space-between;
    }
    .itemImg {
      &:first-child {
        max-width: 737px;
      }
      &:last-child {
        min-width: 400px;
      }
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
  #equipment {
    .listImg {
      .row {
        --bs-gutter-x: 20px;
      }
      .itemImg {
        &:first-child {
          max-width: unset;
        }
        &:last-child {
          min-width: unset;
        }
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #equipment .listImg .row {
    --bs-gutter-x: 15px;
  }
  #equipment h1 br {
    display: block;
  }
  #equipment h1 {
    line-height: 130%;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #equipment {
    margin-bottom: 40px;
  }
  #equipment h1 {
    margin-bottom: 25px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #equipment .listImg .row {
    --bs-gutter-x: 10px;
  }
}
