#factory {
  margin-bottom: 80px;
  h1 {
    margin-bottom: 40px;
    br {
      display: none;
    }
  }
  .listImg {
    .row {
      --bs-gutter-x: 24px;
      --bs-gutter-y: 40px;
    }
  }
  iframe {
    width: 100%;
    height: 51.7vw;
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
  #factory {
    h1 {
      br {
        display: block;
      }
    }
    .listImg {
      .row {
        --bs-gutter-x: 20px;
        --bs-gutter-y: 20px;
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #factory {
    .listImg {
      .row {
        --bs-gutter-x: 15px;
        --bs-gutter-y: 15px;
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #factory {
    margin-bottom: 40px;
    h1 {
      margin-bottom: 25px;
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #factory {
    .listImg {
      .row {
        --bs-gutter-x: 10px;
        --bs-gutter-y: 10px;
      }
    }
  }
}
