footer {
  background-image: url("../images/footerbg.jpg");
  background-repeat: no-repeat;
  padding-top: 84px;
  padding-bottom: 62px;
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    .itemIcon {
      margin-right: 16px;
      width: 50px;
      height: 50px;
    }
    h2 {
      color: white;
      font-weight: 400;
    }
  }
  .itemLast {
    margin-bottom: 0;
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  footer .item {
    margin-bottom: 25px;
  }
  footer .itemLast {
    margin-bottom: 0;
  }
  footer .item svg {
    width: 40px;
    height: 40px;
  }
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  footer h2 {
    font-size: 17px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  footer .itemLast {
    margin-bottom: 25px;
  }
  footer {
    padding-bottom: 15px;
  }
}
