#formContact {
  margin-bottom: 80px;
  .title {
    margin-bottom: 38px;
    h1 {
      line-height: 163.688%; /* 58.928px */
    }
    h2 {
      font-weight: 400;
      line-height: 163.688%; /* 58.928px */
    }
  }
  form {
    input,
    textarea {
      width: 100%;
      border-radius: 10px;
      border: 1px solid #24ade0;
      background: #fff;
      padding: 30px 56px;
    }
    .item {
      margin-bottom: 15px;
      p {
        margin-top: 3px;
        font-size: 15px;
        color: red;
      }
      &:last-child {
        margin-bottom: 21px;
      }
    }

    textarea {
      height: 248px;
    }
    button {
      width: 270px;
      height: 80px;
      border-radius: 12px;
      background: var(--main-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      h2 {
        color: white;
      }
    }
    #successSubmit {
      color: var(--main-blue);
      margin-top: 5px;
    }
  }
  .row {
    --bs-gutter-x: 32px;
    width: 100%;
  }
}
// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #formContact form textarea {
    height: 203px;
  }
  #formContact form input,
  #formContact form textarea {
    padding: 13px;
  }
  #formContact .title {
    margin-bottom: 25px;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #formContact .row {
    --bs-gutter-x: 20px;
  }
  #formContact form textarea {
    height: 145px;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #formContact {
    margin-bottom: 40px;
    .row {
      --bs-gutter-x: unset;
      .col {
        &:last-child {
          display: none;
        }
      }
    }
  }
  #formContact form button {
    width: 250px;
    height: 65px;
  }
  #formContact form textarea {
    margin-bottom: 8px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #formContact .title h2 {
    font-size: 14px;
  }
}
