// font
html {
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
}

// container
.containerCustom {
  max-width: 1440px;
  margin: 0 auto;
}

// padding
.paddingCustom {
  padding-left: 135px;
  padding-right: 135px;
}

// color
:root {
  --main-blue: #27aae2;
  --main-blue-2: #007297;
  --main-red: #ff2643;
  --main-gray: #d2d2d2;
  --form-text-gray: #898989;
  --main-yellow: #ffd00b;
}
.text-main-blue {
  color: var(--main-blue);
}

// boderRadius
.radius-6 {
  border-radius: 6px;
}
.radius-10 {
  border-radius: 10px;
}
.radius-12 {
  border-radius: 10px;
}
.radius-15 {
  border-radius: 15px;
}

// fontSize
h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: unset;
  line-height: 130%;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: unset;
  line-height: 130%;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: unset;
  line-height: 130%;
}
p,
input,
textarea {
  font-size: 18px;
  margin-bottom: unset;
}

// img
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
// a
a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: unset;
  }
}
// breakPage
.breakPage {
  .containerCustom {
    display: flex;
    justify-content: center;
    p {
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      width: 230px;
      height: 36px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #24ade0;
      margin-bottom: 80px;
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
  .paddingCustom {
    padding-left: 80px;
    padding-right: 80px;
  }
  h3 {
    font-size: 25px;
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  // padding
  .paddingCustom {
    padding-left: 30px;
    padding-right: 30px;
  }
  // fontSize
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: unset;
  }
  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: unset;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .paddingCustom {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  p,
  input,
  textarea {
    font-size: 12px;
    margin-bottom: unset;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 14px;
  }
}
