#partner {
  margin-bottom: 80px;
  .content {
    background-color: var(--main-blue);
    padding-top: 52px;
    padding-bottom: 68px;
    margin-bottom: 50px;
  }
  h1 {
    margin-bottom: 8px;
  }
  .icon {
    padding-bottom: 20px;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    p {
      width: 73%;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      width: 298.095px;
      height: 98px;
      border-radius: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      &:first-child {
        background-color: white;
        color: var(--main-blue);
        margin-right: 36.43px;
      }
      &:last-child {
        border: 1px solid #fff;
        color: white;
      }
    }
  }
  .partnerImg {
    .item {
      padding: 0 17px;
    }
  }
}
// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #partner .partnerImg .item {
    padding: 0 10px;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #partner .actions a {
    width: 250px;
    height: 80px;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #partner {
    margin-bottom: 40px;
  }
  #partner .content {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  #partner .text {
    margin-bottom: 25px;
  }
  #partner .actions a:first-child {
    margin-right: 25px;
  }
  #partner .actions a {
    font-size: 20px;
    width: 221px;
    height: 69px;
  }
  #partner .text p {
    width: 100%;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #partner .actions a {
    font-size: 16px;
    height: 54px;
  }
}
