#process {
  position: relative;
  background-color: var(--main-blue);
  margin-bottom: 80px;
  .absoluteImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 602.842px;
  }
  .containerCustom {
    padding-top: 76.66px;
    padding-bottom: 24px;

    h2 {
      margin-bottom: 25px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 19.97px;
        .icon {
          margin-right: 38.76px;
        }
        .text {
          p {
            font-weight: 700;
            &:first-child {
              color: var(--main-yellow);
            }
            &:last-child {
              color: white;
            }
          }
        }
      }
    }
    .contactNow {
      border-radius: 15px;
      border: 1px solid #fff;
      width: 391.624px;
      height: 119px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 11px 10.4px 10px 10.4px;
      a {
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        height: 100%;
        p {
          &:first-child {
            color: #24ade0;
            text-align: center;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 30px */
          }
          &:last-child {
            color: #24ade0;
            text-align: center;
            font-family: Roboto;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 150%; /* 60px */
          }
        }
      }
    }
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #process .absoluteImg {
    width: 400px;
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #process .absoluteImg {
    width: 300px;
  }
  #process .containerCustom .contactNow a p:last-child {
    font-size: 32px;
  }
  #process .containerCustom .contactNow {
    width: 320px;
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #process {
    margin-bottom: 40px;
  }
  #process .absoluteImg {
    width: 250px;
  }
  #process .containerCustom {
    padding-top: 40px;
  }
  #process .containerCustom .contactNow {
    width: 270px;
    height: 101px;
  }
  #process .containerCustom .contactNow a p:last-child {
    font-size: 27px;
  }
  #process .containerCustom ul li {
    font-size: 12px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
