#variety {
  margin-bottom: 80px;
  h1 {
    margin-bottom: 40px;
  }
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1439.98px) {
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #variety {
    margin-bottom: 40px;
  }
  #variety h1 {
    margin-bottom: 25px;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
